.home-mn-img
    width: 200px
    height 200px
.home-fade-enter-active, .home-fade-leave-active 
 transition: opacity .5s
.home-fade-enter, .home-fade-leave-to 
  opacity: 0;
// .home-fade-enter-to, .home-fade-leave